<h3>Create Post</h3>
<%= form_for @post do |f| %>
<%= f.text_field :title, placeholder: "your title" %>
<%= f.text_field :body, placeholder: "Some text" %>
<%= f.text_field :all_tags, placeholder: "code,testing,pairing" %>
<%= f.submit "Create" %>
<% end %>