<h3><%= @post.title %></h3>
<p><%= @post.body %></p>

<h4>Comments</h4>
<ul>
  <% @comments.each do |comment| %>
  <li><%= comment.text %></li>
  <% end %>
</ul>

<h4>Tags</h4>
<ul>
  <% @post.tags.each do |tag| %>
  <li><%= tag.text %></li>
  <% end %>
</ul>

<% if authenticated? %>
<%= link_to "Add Comment", new_post_comment_path(@post) %>
<% end %>